

.user_img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5em;
    float: left;
    margin-left: 0.3em; 
     margin-top:0.8em;
}

.user_chat_table {
    margin-right: 2.0em; 
     margin-top: 0em;   
}

.user_chat_box {
    background-color: rgba(255, 228, 181, 0.6);
    border-radius: 1.2em;
    float: left;
    margin: 0.6em;
    padding: 0.8em;
    word-wrap: break-word;
    word-break:break-all;
    font-size: 1.0em; 

}

.my_img {
     float: right;
      margin-left: 0em;
       margin-right: 0.3em;  
}

.my_chat_table {
    float: right;
    margin-right: 0em; 
    margin-left: 2.0em; 
}

.my_chat_box {
    float: right;
     background-color: rgba(0, 238, 118, 0.4);
}

